.promptDiv {
	text-align: center;
	font-family: 'Courier New', monospace;
	color: black;
	background-color: red;
	margin-right: -1rem;
	margin-left: -1rem;
	margin-top: -2.3rem;
}
*{
	font-family: 'Bebas Neue', sans-serif;
}
#ImagineAnImage{
	padding-top: 3rem;
	font-size: 2.5rem;
}

h2 {
	font-family: 'Courier New', monospace;
	
}
header{
	padding:25px;
	background-color: black;
	color:white;

}
.null{
	position:absolute;
	top:0px;
	right:530px;
}
body {
	background: linear-gradient(180deg, #FF0606 0%, rgba(255, 0, 0, 0.22) 46.88%, rgba(255, 0, 0, 0.17) 49.48%, rgba(255, 0, 0, 0.00) 66.67%, rgba(0, 0, 0, 0.81) 99.99%, rgba(14, 1, 1, 0.00) 100%);
}

#promptInput {
	background: #252527;
	border-style: solid;
	font-size: 1.2rem;
	height: 2.5rem;
	width: 512px;
	margin-bottom: 2em;
	color: #fff;
}

.generateButton {
	background: #303134;
	color: #E7E9EC;
	height: 3.5rem;
	width: 15rem;
	font-family: 'Courier New', monospace;
	font-size: 20px;
	margin-bottom: 2em;
	border-style: solid;
	border-radius: .4rem;
}

.generateButton:hover {
	border-color: #E7E9EC;
}

/* Navbar */
.navbar {
	background: #333;
	color: #fff;
	font-family: 'Courier New', monospace;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 1.8rem;
	padding-right: 1.4rem;
	padding-top: 1.2rem;
	margin-right: -1rem;
	margin-left: -1rem;
	margin-top: -1rem	
}

.navbar ul {
	list-style: none;
	margin-left: 1rem;
}


.navbar a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
}

.image-container {
	width: 100%;
}

img {
	display: block;
	margin: auto;
}

.msg {
	font-size: 1.6rem;
	text-align: center;
	margin-top: 1rem;
	color: white;
}


/* Spinner From: https://codepen.io/tbrownvisuals/pen/edGYvx */
.spinner {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}

.show {
	display: block;
}

/* Transparent Overlay */
.spinner:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

	background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8),
			rgba(0, 0, 0, 0.8));
}

/* :not(:required) hides these rules from IE9 and below */
.spinner:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.spinner:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 150ms infinite linear;
	-moz-animation: spinner 150ms infinite linear;
	-ms-animation: spinner 150ms infinite linear;
	-o-animation: spinner 150ms infinite linear;
	animation: spinner 150ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
		rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
		rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
		rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
		rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}